<div class= 'card text-center' >
  <h1>Available flats</h1>
  <p> <%= @flats.count %> </p>
</div>
<hr>
<% @flats.each do |flat| %>
  <div class='card my-3'>
    <%= image_tag flat.url_image, width: "200" %>
    <p> <%= flat.name %> </p>
    <p> Addres: <%= flat.address %> </p>
    <p> Description: <%= flat.description %></p>
    <p> $ <%= flat.price_per_night %></p>
    <p> guests: <%= flat.number_of_guests %></p>
    <%= link_to 'More info', flat_path(flat)  %>
  </div>
<% end  %>
