<div class= 'card text-center' >
  <h1>Available flats</h1>
  <p> <%= @flats.count %> </p>
</div>
<hr>
<% @flats.each do |flat| %>
  <div class='card my-3'>
    <%= image_tag flat.url_image, width: "200" %>
    <p> <%= flat.name %> </p>
    <p> Addres: <%= flat.address %> </p>
    <p> Description: <%= flat.description %></p>
    <p> $ <%= flat.price_per_night %></p>
    <p> guests: <%= flat.number_of_guests %></p>
    <div>
      <%= link_to 'More info', flat_path(flat), class: "btn btn-outline-info" %>
      <%= link_to 'Edit', edit_flat_path(flat), class: "btn btn-outline-info" %>
      <%= link_to 'Delete', flat_path(flat), class: "btn btn-outline-info", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  </div>
<% end  %>
